In [1]:
import os
import sys

sys.path.insert(0, '/home/matt/src/VolAdjGIPDashboard/VolAdjGIPDashboard')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "VolAdjGIPDashboard.settings")

import django
django.setup()

In [2]:
from DataAcquisition.models import QuadForecasts
gdp, cpi = QuadForecasts.fetch_usa_gi_data() # 20191108, both series verified against FRED.

In [3]:
gdp_set = QuadForecasts.get_gdp_set(gdp) # issue is probably related to GDPNow. # maybe not; deleted code, still lying to me

In [4]:
gdp_set.tail(32)

                         growth  best_estimate
quarter    date
2019-06-30 2019-06-07  1.002515   18974.892434
           2019-06-14  1.003383   18991.308136
           2019-06-21  1.003457   18992.713217
           2019-06-28  1.003234   18988.497038
2019-09-30 2019-05-31  1.004914   19115.327049
           2019-06-07  1.003259   19083.852877
           2019-06-14  1.004223   19102.192583
           2019-06-21  1.003210   19082.910953
           2019-06-28  1.002987   19078.670568
           2019-07-05  1.004322   19104.070595
           2019-07-12  1.004347   19104.540011
           2019-07-19  1.004667   19110.639277
           2019-07-26  1.005480   19126.095856
           2019-08-02  1.003877   19095.615178
           2019-08-09  1.003927   19096.555223
           2019-08-16  1.004519   19107.824957
           2019-08-23  1.004371   19105.009393
           2019-08-30  1.004470   19106.886574
           2019-09-06  1.003853   19095.145103
           2019-09-13  1.003952   19097.025194
           2019-09-20  1.005554   19127.499143
           2019-09-27  1.005111   19119.074785
2019-12-31 2019-09-06  1.002689   19163.938175
           2019-09-13  1.002764   19165.359955
           2019-09-20  1.004864   19205.512883
           2019-09-27  1.004371   19196.087787
           2019-10-04  1.003234   19174.357223
           2019-10-11  1.003234   19174.357223
           2019-10-18  1.002615   19162.516078
           2019-10-25  1.002292   19156.349997
           2019-11-01  1.001994   19150.652941
           2019-11-08  1.001820   19147.327309

In [5]:
QuadForecasts.determine_quads(gdp, cpi)

                        gdp_roc    cpi_roc  quad
quarter    date
2002-03-31 2002-01-04       NaN        NaN   NaN
           2002-01-11       NaN        NaN   NaN
           2002-01-18       NaN        NaN   NaN
           2002-01-25       NaN        NaN   NaN
           2002-02-01       NaN        NaN   NaN
...                         ...        ...   ...
2019-12-31 2019-10-11  5.300725  28.097973   2.0
           2019-10-18 -1.003273  28.097973   3.0
           2019-10-25 -4.285976  28.097973   3.0
           2019-11-01 -7.318980  28.097973   3.0
           2019-11-08 -9.089482  28.097973   3.0

[1296 rows x 3 columns]