In [1]:
import os
import sys

sys.path.insert(0, r'C:\\Users\\Matt\\Documents\\Development\\VolAdjGIPDashboard\\VolAdjGIPDashboard')
#sys.path.insert(0, '/home/matt/src/VolAdjGIPDashboard/VolAdjGIPDashboard')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "VolAdjGIPDashboard.settings")

import django
django.setup()

In [2]:
from DataAcquisition.models import QuadForecasts
gdp, cpi = QuadForecasts.fetch_usa_gi_data() # 20191108, both series verified against FRED.
display(gdp.tail(5))
display(cpi.tail(12))

DATE
2018-09-30    18732.720
2018-12-31    18783.548
2019-03-31    18927.281
2019-06-30    19021.860
2019-09-30    19121.112
Freq: Q-DEC, Name: GDPC1, dtype: float64

2017-12-31    246.618667
2018-03-31    248.804000
2018-06-30    251.374333
2018-09-30    252.197000
2018-12-31    252.052000
2019-03-31    252.896667
2019-06-30    255.927667
2019-09-30    256.629333
2019-12-31    257.320000
2020-03-31    259.116667
2020-06-30    260.883333
2020-09-30    261.560000
dtype: float64

In [3]:
import datetime
from fredapi import Fred

key = '92c9d6f334db6d3a2fe87c6ead0ddce8'
fred = Fred(api_key=key)
gdp_data = fred.get_series_as_of_date(series_id='GDPC1', as_of_date='2019-11-10')

ModuleNotFoundError: No module named 'fredapi'

In [4]:
gdp_data.tail(12)

     realtime_start       date    value
3624     2019-07-26 2018-07-01  18732.7
3625     2019-02-28 2018-10-01  18784.6
3626     2019-03-28 2018-10-01  18765.3
3627     2019-07-26 2018-10-01  18783.5
3628     2019-04-26 2019-01-01  18912.3
3629     2019-05-30 2019-01-01  18907.5
3630     2019-06-27 2019-01-01  18910.3
3631     2019-07-26 2019-01-01  18927.3
3632     2019-07-26 2019-04-01  19023.8
3633     2019-08-29 2019-04-01    19023
3634     2019-09-26 2019-04-01  19021.9
3635     2019-10-30 2019-07-01  19112.5

In [4]:
gdp_set = QuadForecasts.get_gdp_set(gdp) # issue is probably related to GDPNow. # maybe not; deleted code, still lying to me

In [5]:
gdp_set.tail(50)

                         growth  best_estimate
quarter    date
2007-12-31 2008-02-01  1.003729   15761.967000
2008-03-31 2008-05-02  1.003556   15671.383000
2008-06-30 2008-08-01  1.004938   15752.308000
2008-09-30 2008-10-31  0.998848   15667.032000
2008-12-31 2009-01-30  0.990902   15328.027000
2009-03-31 2009-05-01  0.990953   15155.940000
2009-06-30 2009-07-31  1.000275   15134.117000
2009-09-30 2009-10-30  1.012513   15189.222000
2009-12-31 2010-01-29  1.010654   15356.058000
2010-03-31 2010-04-30  1.009781   15415.145000
2010-06-30 2010-07-30  1.011886   15557.277000
2010-09-30 2010-10-29  1.005676   15671.967000
2010-12-31 2011-01-28  1.007417   15750.625000
2011-03-31 2011-04-29  1.011041   15712.754000
2011-06-30 2011-07-29  1.007759   15825.096000
2011-09-30 2011-10-28  1.005209   15820.700000
2011-12-31 2012-01-27  1.007955   16004.107000
2012-03-31 2012-04-27  1.008101   16129.418000
2012-06-30 2012-07-27  1.007124   16198.807000
2012-09-30 2012-10-26  1.004075   16220.667000
2012-12-31 2013-02-01  1.006879   16239.138000
2013-03-31 2013-04-26  1.009440   16382.964000
2013-06-30 2013-08-02  1.004840   16403.180000
2013-09-30 2013-11-08  1.005578   16531.685000
2013-12-31 2014-01-31  1.007735   16663.649000
2014-03-31 2014-05-02  1.005529   16616.540000
2014-06-30 2014-08-01  1.007588   16841.475000
2014-09-30 2014-10-31  1.004963   17047.098000
2014-12-31 2015-01-30  1.006266   17143.038000
2015-03-31 2015-05-01  1.001596   17277.580000
2015-06-30 2015-07-31  1.005332   17405.669000
2015-09-30 2015-10-30  1.004815   17463.222000
2015-12-31 2016-01-29  1.003036   17468.902000
2016-03-31 2016-04-29  1.001795   17556.839000
2016-06-30 2016-07-29  1.005234   17639.417000
2016-09-30 2016-10-28  1.005554   17735.074000
2016-12-31 2017-01-27  1.005012   17824.231000
2017-03-31 2017-04-28  1.006683   17925.256000
2017-06-30 2017-07-28  1.005185   18021.048000
2017-09-30 2017-10-27  1.003976   18163.558000
2017-12-31 2018-01-26  1.009562   18322.464000
2018-03-31 2018-04-27  1.007344   18438.254000
2018-06-30 2018-07-27  1.006879   18598.135000
2018-09-30 2018-10-26  1.005406   18732.720000
2018-12-31 2019-03-01  1.005603   18783.548000
2019-03-31 2019-04-26  1.003556   18927.281000
2019-06-30 2019-07-26  1.003729   19021.860000
2019-09-30 2019-11-01  1.004790   19121.112000
2019-12-31 2019-12-27  1.002962   19177.745205
2020-03-31 2019-12-27  1.003754   19249.734825

In [6]:
QuadForecasts.determine_quads(gdp, cpi).dropna().tail(32)

                          gdp_roc     cpi_roc  quad
quarter    date
2012-06-30 2012-07-27  -29.024807  -92.542703   4.0
2012-09-30 2012-10-26   16.661596  -19.198080   1.0
2012-12-31 2013-02-01 -105.955776   19.158102   3.0
2013-03-31 2013-04-26   10.338082  -20.753657   1.0
2013-06-30 2013-08-02  -31.029297  -28.897903   4.0
2013-09-30 2013-11-08   65.576343   16.050892   2.0
2013-12-31 2014-01-31   69.670468  -31.988759   1.0
2014-03-31 2014-05-02 -118.839783   17.198528   3.0
2014-06-30 2014-08-01  124.628746   64.538911   2.0
2014-09-30 2014-10-31   44.571579  -26.769163   1.0
2014-12-31 2015-01-30  -24.087329  -53.512627   4.0
2015-03-31 2015-05-01  110.134997 -131.072355   1.0
2015-06-30 2015-07-31  -62.817761    2.442391   3.0
2015-09-30 2015-10-30  -90.900179   14.777542   3.0
2015-12-31 2016-01-29  -54.017217   35.676122   3.0
2016-03-31 2016-04-29  -28.454475   61.400243   3.0
2016-06-30 2016-07-29  -27.336676   -3.320392   4.0
2016-09-30 2016-10-28   21.376981    7.055223   2.0
2016-12-31 2017-01-27   47.735444   68.300539   2.0
2017-03-31 2017-04-28    6.435842   73.869981   2.0
2017-06-30 2017-07-28    6.508811  -63.732920   1.0
2017-09-30 2017-10-27   25.251346    6.493374   2.0
2017-12-31 2018-01-26   37.923063   15.063231   2.0
2018-03-31 2018-04-27    6.661602    9.663703   2.0
2018-06-30 2018-07-27   34.042168   49.769258   2.0
2018-09-30 2018-10-26   -6.875630   -7.094738   4.0
2018-12-31 2019-03-01  -61.704245  -43.780823   4.0
2019-03-31 2019-04-26   13.574577  -55.819538   1.0
2019-06-30 2019-07-26  -37.392153   16.643956   3.0
2019-09-30 2019-11-01  -20.498506   -5.388707   4.0
2019-12-31 2019-12-27    2.529538   33.255639   2.0
2020-03-31 2019-12-27   -9.348008   36.945765   3.0