In [15]:
import os
import sys
import pandas as pd

sys.path.insert(0, r'C:\\Users\\Matt\\Documents\\Development\\VolAdjGIPDashboard\\VolAdjGIPDashboard')
#sys.path.insert(0, '/home/matt/src/VolAdjGIPDashboard/VolAdjGIPDashboard')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "VolAdjGIPDashboard.settings")

import django
django.setup()

In [43]:
from DataAcquisition.models import QuadForecasts
gdp, cpi = QuadForecasts.fetch_usa_gi_data() # 20191108, both series verified against FRED.
display(gdp.tail(5))
display(cpi.tail(12))

DATE
2018-09-30    18732.720
2018-12-31    18783.548
2019-03-31    18927.281
2019-06-30    19021.860
2019-09-30    19121.112
Freq: Q-DEC, Name: GDPC1, dtype: float64

2017-12-31    246.618667
2018-03-31    248.804000
2018-06-30    251.374333
2018-09-30    252.197000
2018-12-31    252.052000
2019-03-31    252.896667
2019-06-30    255.927667
2019-09-30    256.629333
2019-12-31    257.320000
2020-03-31    259.116667
2020-06-30    260.883333
2020-09-30    261.560000
dtype: float64

In [4]:
gdp_set = QuadForecasts.get_gdp_set(gdp) # issue is probably related to GDPNow. # maybe not; deleted code, still lying to me

                         growth  best_estimate
quarter    date
2002-03-31 2001-11-23  0.996986   13397.002000
           2001-11-30  0.996885   13397.002000
           2001-12-07  0.997692   13397.002000
           2001-12-14  0.997541   13397.002000
           2001-12-21  0.998346   13397.002000
...                         ...            ...
2020-03-31 2019-12-06  1.001646   19180.295096
           2019-12-13  1.002044   19193.156469
           2019-12-20  1.004075   19262.076561
           2019-12-27  1.003754   19249.734825
           2020-01-03  1.002962   19233.120363

[2561 rows x 2 columns]

In [5]:
gdp_set.tail(20)

                         growth  best_estimate
quarter    date
2015-06-30 2015-07-31  1.005332   17405.669000
2015-09-30 2015-10-30  1.004815   17463.222000
2015-12-31 2016-01-29  1.003036   17468.902000
2016-03-31 2016-04-29  1.001795   17556.839000
2016-06-30 2016-07-29  1.005234   17639.417000
2016-09-30 2016-10-28  1.005554   17735.074000
2016-12-31 2017-01-27  1.005012   17824.231000
2017-03-31 2017-04-28  1.006683   17925.256000
2017-06-30 2017-07-28  1.005185   18021.048000
2017-09-30 2017-10-27  1.003976   18163.558000
2017-12-31 2018-01-26  1.009562   18322.464000
2018-03-31 2018-04-27  1.007344   18438.254000
2018-06-30 2018-07-27  1.006879   18598.135000
2018-09-30 2018-10-26  1.005406   18732.720000
2018-12-31 2019-03-01  1.005603   18783.548000
2019-03-31 2019-04-26  1.003556   18927.281000
2019-06-30 2019-07-26  1.003729   19021.860000
2019-09-30 2019-11-01  1.004790   19121.112000
2019-12-31 2020-01-03  1.002887   19176.323631
2020-03-31 2020-01-03  1.002962   19233.120363

In [3]:
QuadForecasts.determine_quads(gdp, cpi).dropna().tail(32)

                         gdp_roc    cpi_roc  quad
quarter    date
2019-09-30 2019-09-06 -20.498506  -5.388707   4.0
           2019-09-13 -20.498506  -5.388707   4.0
           2019-09-20 -20.498506  -5.388707   4.0
           2019-09-27 -20.498506  -5.388707   4.0
           2019-10-04 -20.498506  -5.388707   4.0
           2019-10-11 -20.498506  -5.388707   4.0
           2019-10-18 -20.498506  -5.388707   4.0
           2019-10-25 -20.498506  -5.388707   4.0
           2019-11-01 -20.498506  -5.388707   4.0
2019-12-31 2019-09-06  -0.246287  33.255639   3.0
           2019-09-13   0.510981  33.255639   2.0
           2019-09-20  21.897214  33.255639   2.0
           2019-09-27  16.877224  33.255639   2.0
           2019-10-04   5.303102  33.255639   2.0
           2019-10-11   5.303102  33.255639   2.0
           2019-10-18  -1.003723  33.255639   3.0
           2019-10-25  -4.287898  33.255639   3.0
           2019-11-01  -7.322261  33.255639   3.0
           2019-11-08  -9.093558  33.255639   3.0
           2019-11-15 -17.710155  33.255639   3.0
           2019-11-22  -9.599812  33.255639   3.0
           2019-11-29  -8.081276  33.255639   3.0
           2019-12-06 -12.892305  33.255639   3.0
           2019-12-13 -10.106142  33.255639   3.0
           2019-12-20   5.807143  33.255639   2.0
           2019-12-27   2.529538  33.255639   2.0
           2020-01-03   1.772720  33.255639   2.0
2020-03-31 2019-12-06 -46.035649  36.945765   3.0
           2019-12-13 -39.240498  36.945765   3.0
           2019-12-20  -2.827401  36.945765   3.0
           2019-12-27  -9.348008  36.945765   3.0
           2020-01-03 -18.126058  36.945765   3.0

In [60]:
gdp, cpi = QuadForecasts.fetch_usa_gi_data()
usa_quads = QuadForecasts.determine_quads(gdp, cpi).dropna()

usa_quads = usa_quads[
    (usa_quads.index.get_level_values('date') <= usa_quads.index.get_level_values('quarter')) &
    (usa_quads.index.get_level_values('date') > usa_quads.index.get_level_values('quarter') - pd.offsets.QuarterEnd())
].droplevel('quarter')

usa_quads['changed'] = usa_quads.quad != usa_quads.shift(1).quad
usa_quads = usa_quads[usa_quads.changed == True].drop(['changed'], axis='columns')

In [61]:
quads.tail(20)

               gdp_roc     cpi_roc  quad
date
2013-07-05   65.576343   16.050892   2.0
2013-10-04   69.670468  -31.988759   1.0
2014-01-03 -118.839783   17.198528   3.0
2014-04-04  124.628746   64.538911   2.0
2014-07-04   44.571579  -26.769163   1.0
2014-10-03  -24.087329  -53.512627   4.0
2015-01-02  110.134997 -131.072355   1.0
2015-04-03  -62.817761    2.442391   3.0
2016-04-01  -27.336676   -3.320392   4.0
2016-07-01   21.376981    7.055223   2.0
2017-04-07    6.508811  -63.732920   1.0
2017-07-07   25.251346    6.493374   2.0
2018-07-06   -6.875630   -7.094738   4.0
2019-01-04   13.574577  -55.819538   1.0
2019-04-05  -37.392153   16.643956   3.0
2019-07-05  -20.498506   -5.388707   4.0
2019-10-04    5.303102   33.255639   2.0
2019-10-18   -1.003723   33.255639   3.0
2019-12-20    5.807143   33.255639   2.0
2020-01-03  -18.126058   36.945765   3.0